set default=0
set timeout=5

menuentry "MyOS Live" {
  linux /live/vmlinuz boot=live components quiet splash username=myos hostname=myos
  initrd /live/initrd.img
}

menuentry "MyOS Live (Persistence)" {
  linux /live/vmlinuz boot=live components persistence quiet splash username=myos hostname=myos
  initrd /live/initrd.img
}

menuentry "MyOS Live (Debug)" {
  linux /live/vmlinuz boot=live components noquiet nosplash username=myos hostname=myos systemd.log_level=debug
  initrd /live/initrd.img
}
